apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv 
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: mysql-sc
  nfs:
    path: /tmp/mysql
    server: 172.17.0.2
